<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>358691740572-u8tkasgqk0k3pdga8a194mglemmu5moc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358691740572-u8tkasgqk0k3pdga8a194mglemmu5moc</string>
	<key>API_KEY</key>
	<string>AIzaSyCjJfI6A5MGHVl34F7vMnuP3HePr4Y8iFc</string>
	<key>GCM_SENDER_ID</key>
	<string>358691740572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devscorch.AppQuake</string>
	<key>PROJECT_ID</key>
	<string>appquake-native</string>
	<key>STORAGE_BUCKET</key>
	<string>appquake-native.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358691740572:ios:50df948891c2892c</string>
	<key>DATABASE_URL</key>
	<string>https://appquake-native.firebaseio.com</string>
</dict>
</plist>